<div class="col-md-12 userProfile bg-success p-0">
  <div class="userCover bg-dark d-flex justify-content-center">
    <img class="userImage rounded-circle" src="https://www.kindpng.com/picc/m/495-4952535_create-digital-profile-icon-blue-user-profile-icon.png" alt="User">
  </div>
  <div class="userInfo text-center text-white text-uppercase">
    <h4>User Name</h4>
    <p>Software Engineer</p>
  </div>
  <div class="userSocialLink d-flex justify-content-center">
    <ul class="p-0 d-flex">
      <li><img src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-linkedin-circle-512.png" class="socialIcon m-1" ></li>
      <li><img src="https://image.flaticon.com/icons/png/512/25/25231.png" class="socialIcon rounded-circle m-1" ></li>
      <li><img src="https://cdn.iconscout.com/icon/free/png-512/twitter-1865886-1581902.png" class="socialIcon rounded-circle m-1" ></li>
    </ul>
  </div>
</div>
