<div class="card mt-3">
  <header class="card-header">
    <h4>Recent Orders</h4>
  </header>
  <div class="card-body">
    <table class="table">
      <tr class="text-muted">
        <th>Order#</th>
        <th>Placed On</th>
        <th>Items</th>
        <th>otal</th>
        <th></th>
      </tr>
      <tr>
        <td class="orderNumber align-middle">609048547546015</td>
        <td class="orderDate align-middle">1/1/2021</td>
        <td class="orderItems align-middle">
          <ul class="d-flex">
            <li class=""><img src="https://static-01.daraz.com.bd/p/bbf3a8b7b1f7d440e8d7da4b4457dd73.jpg" alt="items"></li>
            <li class=""><img src="https://www.kindpng.com/picc/m/500-5005072_apple-airpods-2nd-gen-hd-png-download.png" alt="items"></li>
          </ul>
        </td>
        <td class="totalPrice align-middle">
          $599
        </td>
        <td class="mangeOrder align-middle">
          <app-address-book-edit></app-address-book-edit>
        </td>
      </tr>
      <tr>
        <td class="orderNumber align-middle">609048547546015</td>
        <td class="orderDate align-middle">1/1/2021</td>
        <td class="orderItems align-middle">
          <ul class="d-flex">
            <li class=""><img src="https://static-01.daraz.com.bd/p/bbf3a8b7b1f7d440e8d7da4b4457dd73.jpg" alt="items"></li>
            <li class=""><img src="https://www.kindpng.com/picc/m/500-5005072_apple-airpods-2nd-gen-hd-png-download.png" alt="items"></li>
          </ul>
        </td>
        <td class="totalPrice align-middle">
          $599
        </td>
        <td class="mangeOrder align-middle">
          <app-address-book-edit></app-address-book-edit>
        </td>
      </tr>
      <tr>
        <td class="orderNumber align-middle">609048547546015</td>
        <td class="orderDate align-middle">1/1/2021</td>
        <td class="orderItems align-middle">
          <ul class="d-flex">
            <li class=""><img src="https://static-01.daraz.com.bd/p/bbf3a8b7b1f7d440e8d7da4b4457dd73.jpg" alt="items"></li>
          </ul>
        </td>
        <td class="totalPrice align-middle">
          $599
        </td>
        <td class="mangeOrder align-middle">
          <app-address-book-edit></app-address-book-edit>
        </td>
      </tr>
      <tr>
        <td class="orderNumber align-middle">609048547546015</td>
        <td class="orderDate align-middle">1/1/2021</td>
        <td class="orderItems align-middle">
          <ul class="d-flex flex-wrap">
            <li class=""><img src="https://www.kindpng.com/picc/m/500-5005072_apple-airpods-2nd-gen-hd-png-download.png" alt="items"></li>
            <li class=""><img src="https://static-01.daraz.com.bd/p/bbf3a8b7b1f7d440e8d7da4b4457dd73.jpg" alt="items"></li>
            <li class=""><img src="https://static-01.daraz.com.bd/p/bbf3a8b7b1f7d440e8d7da4b4457dd73.jpg" alt="items"></li>
            <li class=""><img src="https://static-01.daraz.com.bd/p/bbf3a8b7b1f7d440e8d7da4b4457dd73.jpg" alt="items"></li>
            <li class=""><img src="https://static-01.daraz.com.bd/p/bbf3a8b7b1f7d440e8d7da4b4457dd73.jpg" alt="items"></li>
            <li class=""><img src="https://static-01.daraz.com.bd/p/bbf3a8b7b1f7d440e8d7da4b4457dd73.jpg" alt="items"></li>
            <li class=""><img src="https://static-01.daraz.com.bd/p/bbf3a8b7b1f7d440e8d7da4b4457dd73.jpg" alt="items"></li>
            <li class=""><img src="https://static-01.daraz.com.bd/p/bbf3a8b7b1f7d440e8d7da4b4457dd73.jpg" alt="items"></li>
            <li class=""><img src="https://static-01.daraz.com.bd/p/bbf3a8b7b1f7d440e8d7da4b4457dd73.jpg" alt="items"></li>
            <li class=""><img src="https://static-01.daraz.com.bd/p/bbf3a8b7b1f7d440e8d7da4b4457dd73.jpg" alt="items"></li>
            <li class=""><img src="https://static-01.daraz.com.bd/p/bbf3a8b7b1f7d440e8d7da4b4457dd73.jpg" alt="items"></li>
            <li class=""><img src="https://static-01.daraz.com.bd/p/bbf3a8b7b1f7d440e8d7da4b4457dd73.jpg" alt="items"></li>
            <li class=""><img src="https://static-01.daraz.com.bd/p/bbf3a8b7b1f7d440e8d7da4b4457dd73.jpg" alt="items"></li>
            <li class=""><img src="https://static-01.daraz.com.bd/p/bbf3a8b7b1f7d440e8d7da4b4457dd73.jpg" alt="items"></li>
            <li class=""><img src="https://www.kindpng.com/picc/m/500-5005072_apple-airpods-2nd-gen-hd-png-download.png" alt="items"></li>
          </ul>
        </td>
        <td class="totalPrice align-middle">
          $599
        </td>
        <td class="mangeOrder align-middle">
          <app-address-book-edit></app-address-book-edit>
        </td>
      </tr>
    </table>
  </div>
</div>
