<div class="userSocialLink d-flex justify-content-center">
  <ul class="p-0 d-flex">
    <li><img src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-linkedin-circle-512.png" class="socialIcon m-1" ></li>
    <li><img src="https://image.flaticon.com/icons/png/512/25/25231.png" class="socialIcon rounded-circle m-1" ></li>
    <li><img src="https://cdn.iconscout.com/icon/free/png-512/twitter-1865886-1581902.png" class="socialIcon rounded-circle m-1" ></li>
  </ul>
</div>
