<div class="card addressBook">
  <header class="card-header d-flex addressBookHeader">
    <h4>Address Book</h4>
    <app-address-book-edit></app-address-book-edit>
  </header>
  <article class="card-body">
    <div class="row">
      <div class="col-6 shippingAddress">
        <p class="text-muted">Default Shipping Address</p>
        <div class="recipientName">
          <h6>Anoy Dey</h6>
        </div>
        <div class="recipientEmail">
          <small class="m-0">test@gmail.com</small>
        </div>
        <div class="recipientAddress">
          <small>225/1 rayerbazar, Dhaka - Dhaka - South - Dhanmondi - Road No. 1 - 10</small>
        </div>
      </div>
      <div class="col-6 billingAddress">
        <p class="text-muted">Default Billing Address</p>
        <div class="payerName">
          <h6>Anoy Dey</h6>
        </div>
        <div class="payerEmail">
          <small class="m-0">test@gmail.com</small>
        </div>
        <div class="payerAddress">
          <small>225/1 rayerbazar, Dhaka - Dhaka - South - Dhanmondi - Road No. 1 - 10</small>
        </div>
      </div>
    </div>
  </article>
</div>
